<?php

if (!function_exists('fmStat2')) {
    function fmStat2($folder = 'storage/app')
    {
        if (!File::exists($folder)) {
            File::makeDirectory($folder, 0775, true);
        }

        $attr['size_audio'] = $attr['size_archive'] = $attr['size_code'] = $attr['size_doc'] = $attr['size_image'] = $attr['size_other'] = $attr['size_prezi'] = $attr['size_table'] = $attr['size_text'] = $attr['size_video'] = 0;
        $attr['file_audio'] = $attr['file_archive'] = $attr['file_code'] = $attr['file_doc'] = $attr['file_image'] = $attr['file_other'] = $attr['file_prezi'] = $attr['file_table'] = $attr['file_text'] = $attr['file_video'] = 0;
        $elementents = scandir($folder);

        foreach ($elementents as $element) {
            if ($element != '.' && $element != '..' && $element != '.quarantine' && $element != '.tmb') {
                if (filetype($folder.'/'.$element) == 'dir') {
                    $value = fmStat2($folder.'/'.$element);
                    $attr['size_audio'] += $value['size_audio'];
                    $attr['size_archive'] += $value['size_archive'];
                    $attr['size_code'] += $value['size_code'];
                    $attr['size_doc'] += $value['size_doc'];
                    $attr['size_image'] += $value['size_image'];
                    $attr['size_prezi'] += $value['size_prezi'];
                    $attr['size_table'] += $value['size_table'];
                    $attr['size_text'] += $value['size_text'];
                    $attr['size_video'] += $value['size_video'];
                    $attr['file_audio'] += $value['file_audio'];
                    $attr['file_archive'] += $value['file_archive'];
                    $attr['file_code'] += $value['file_code'];
                    $attr['file_doc'] += $value['file_doc'];
                    $attr['file_image'] += $value['file_image'];
                    $attr['file_prezi'] += $value['file_prezi'];
                    $attr['file_table'] += $value['file_table'];
                    $attr['file_text'] += $value['file_text'];
                    $attr['file_video'] += $value['file_video'];
                }

                else {
                    $type = fmType(substr(strrchr($element, '.'), 1));
                    $attr['size_'.$type] += File::size($folder.'/'.$element);
                    $attr['file_'.$type]++;
                }
            }
        }

        return $attr;
    }
}

if (!function_exists('fmSize2')) {
    function fmSize2($size = 0)
    {
        if ($size > 0) {
            $name = ['B', 'KB', 'MB', 'GB', 'TB'];
            $common = ['au', 'bn', 'bw', 'ch', 'cn', 'do', 'eg', 'gt', 'hk', 'hn', 'ie', 'il', 'in', 'jp', 'ke', 'kp', 'kr', 'lb', 'lk', 'mn', 'mo', 'mt', 'mx', 'my', 'ng', 'ni', 'np', 'nz', 'pa', 'ph', 'pk', 'sg', 'th', 'tw', 'tz', 'ug', 'uk', 'us', 'zw'];

            for ($i = 0; $size >= 1024; $i++) {
                $size /= 1024;

                if ($i < 1) {
                    $size = round($size, 0);
                }
                else {
                    $size = round($size, 1);
                }
            }

            if (!in_array(App::getLocale(), $common)) {
                $size = str_replace('.', ',', $size);
            }

            return $size.' '.$name[$i];
        }

        $size = '0 '.'B';

        return $size;
    }
}

if (!function_exists('fmType')) {
    function fmType($extension = 'txt')
    {
        $types = [
            'audio'   => ['aac', 'ac3',  'aif',  'm3a',  'm4a',  'm4b',  'mka',  'mp1', 'mp2',  'mp3',  'ogg', 'oga', 'ram', 'wav', 'wma'],
            'archive' => ['bz2', 'cab',  'gz',   'rar',  'tar',  'tgz',  'zip',  '7z'],
            'code'    => ['css', 'htm',  'html', 'php',  'js',   'c',    'c++'],
            'doc'     => ['doc', 'docx', 'docm', 'dotm', 'odt',  'pdf',  'rtf',  'wp',  'wpd'],
            'image'   => ['bmp', 'gif',  'ico',  'jpg',  'jpeg', 'png',  'psd',  'raw', 'tif',  'tiff'],
            'prezi'   => ['ppt', 'pptx', 'pptm', 'pps',  'ppsx', 'ppsm', 'sldx', 'sldm'],
            'table'   => ['ods', 'xls',  'xlsx', 'xlsm', 'xlsb'],
            'text'    => ['asc', 'csv',  'tsv',  'txt',  'xml'],
            'video'   => ['avi', 'divx', 'dv',   'flv',  'm4v',  'mkv',  'mov',  'mp4', 'mpeg', 'mpg',  'qt',  'rm',  'swf', 'vob', 'wmv']
        ];

        foreach ($types as $type => $extensions) {
            if (in_array($extension, $extensions)) {
                return $type;
            }
        }

        return 'other';
    }
}

$stat = fmStat2();

?>
<div class="report-widget">
    <h3 style="margin-bottom:5px;"><?= e(trans($this->property('title'))) ?></h3>

    <div class="scoreboard-item title-value" style="margin:25px 0 -25px 0;">
        <div data-control="toolbar">
            <div class="scoreboard-item control-chart pull-left" data-control="chart-pie" style="margin:0 45px 10px 0;">
                <ul>
                    <li data-color="#2a5696"><?= e(trans('indikator.filemanager::lang.widget.type.doc')) ?> <span><?= $stat['file_doc'] ?></span></li>
                    <li data-color="#1c6f44"><?= e(trans('indikator.filemanager::lang.widget.type.table')) ?> <span><?= $stat['file_table'] ?></span></li>
                    <li data-color="#d04424"><?= e(trans('indikator.filemanager::lang.widget.type.prezi')) ?> <span><?= $stat['file_prezi'] ?></span></li>
                </ul>
            </div>

            <div class="scoreboard-item control-chart pull-left" data-control="chart-pie" style="margin:0 45px 10px 0;">
                <ul>
                    <li data-color="#95b753"><?= e(trans('indikator.filemanager::lang.widget.type.image')) ?> <span><?= $stat['file_image'] ?></span></li>
                    <li data-color="#c07949"><?= e(trans('indikator.filemanager::lang.widget.type.video')) ?> <span><?= $stat['file_video'] ?></span></li>
                    <li data-color="#30b4da"><?= e(trans('indikator.filemanager::lang.widget.type.audio')) ?> <span><?= $stat['file_audio'] ?></span></li>
                </ul>
            </div>

            <div class="scoreboard-item control-chart pull-left" data-control="chart-pie" style="margin:0 45px 10px 0;">
                <ul>
                    <li data-color="#ac5e91"><?= e(trans('indikator.filemanager::lang.widget.type.text')) ?> <span><?= $stat['file_text'] ?></span></li>
                    <li data-color="#ff940a"><?= e(trans('indikator.filemanager::lang.widget.type.archive')) ?> <span><?= $stat['file_archive'] ?></span></li>
                    <li data-color="#787878"><?= e(trans('indikator.filemanager::lang.widget.type.code')) ?> <span><?= $stat['file_code'] ?></span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
