<?php

if (!function_exists('fmStat1')) {
    function fmStat1($folder = 'storage/app')
    {
        if (!File::exists($folder)) {
            File::makeDirectory($folder, 0775, true);
        }

        $attr['size'] = $attr['files'] = $attr['folders'] = 0;
        $elementents = scandir($folder);

        foreach ($elementents as $element) {
            if ($element != '.' && $element != '..' && $element != '.quarantine' && $element != '.tmb') {
                if (filetype($folder.'/'.$element) == 'dir') {
                    $value = fmStat1($folder.'/'.$element);
                    $attr['size'] += $value['size'];
                    $attr['files'] += $value['files'];
                    $attr['folders'] += $value['folders'] + 1;
                }

                else {
                    $attr['size'] += File::size($folder.'/'.$element);
                    $attr['files']++;
                }
            }
        }

        return $attr;
    }
}

if (!function_exists('fmSize1')) {
    function fmSize1($size = 0)
    {
        if ($size > 0) {
            $name = ['B', 'KB', 'MB', 'GB', 'TB'];
            $common = ['au', 'bn', 'bw', 'ch', 'cn', 'do', 'eg', 'gt', 'hk', 'hn', 'ie', 'il', 'in', 'jp', 'ke', 'kp', 'kr', 'lb', 'lk', 'mn', 'mo', 'mt', 'mx', 'my', 'ng', 'ni', 'np', 'nz', 'pa', 'ph', 'pk', 'sg', 'th', 'tw', 'tz', 'ug', 'uk', 'us', 'zw'];

            for ($i = 0; $size >= 1024; $i++) {
                $size /= 1024;

                if ($i < 1) {
                    $size = round($size, 0);
                }
                else {
                    $size = round($size, 1);
                }
            }

            if (!in_array(App::getLocale(), $common)) {
                $size = str_replace('.', ',', $size);
            }

            return $size.' '.$name[$i];
        }

        $size = '0 '.'B';

        return $size;
    }
}

$stat = fmStat1();

?>
<div class="report-widget">
    <h3 style="margin-bottom:5px;"><?= e(trans($this->property('title'))) ?></h3>

    <?php if ($this->property('folders')): ?>
    <div class="scoreboard-item title-value pull-left" style="margin:20px 20px 0 0;">
        <h4><?= e(trans('indikator.filemanager::lang.widget.basic.folders')) ?></h4>
        <p class="text-center"><?= $stat['folders'] ?></p>
    </div>
    <?php endif ?>

    <?php if ($this->property('files')): ?>
    <div class="scoreboard-item title-value pull-left" style="margin:20px 20px 0 0;">
        <h4><?= e(trans('indikator.filemanager::lang.widget.basic.files')) ?></h4>
        <p class="text-center"><?= $stat['files'] ?></p>
    </div>
    <?php endif ?>

    <?php if ($this->property('size')): ?>
    <div class="scoreboard-item title-value pull-left" style="margin:20px 0 0 0;">
        <h4><?= e(trans('indikator.filemanager::lang.widget.basic.size')) ?></h4>
        <p class="text-center"><?= fmSize1($stat['size']) ?></p>
    </div>
    <?php endif ?>

    <div style="clear:both;"></div>
</div>
